src/Catalyst.Core/obj/
src/Catalyst.Web/obj/
src/Catalyst.Core/bin/Debug/
src/Catalyst.Web/bin/Catalyst.Core.dll
src/Catalyst.Web/bin/Catalyst.Web.dll
src/.vs/
tests/Catalyst.Tests/bin/
src/Catalyst.Web/bin/
src/Catalyst.Web/App_Data/Logs/
tests/Catalyst.Tests/obj/
src/Catalyst.Web.Ui.Client/.idea/
src/Catalyst.Web/project.lock.json
src/Catalyst.Web.Ui.Client/node_modules/
src/packages/
src/Catalyst.Web/Content/cache/
tests/Catalyst.Tests/project.lock.json
src/Catalyst.Web/App_Data/cache/
src/Catalyst.Web.Ui.Client/dist/
src/Catalyst.Web/Media/store/
src/Catalyst.Web/Scripts/cache/
src/Catalyst.Web/App_Data/Catalyst.sdf
src/Catalyst.Core/bin/Release/
