// keen "box"
.chart-wrapper {

    .chart-title {
    }

    .chart-stage {
        min-height: 120px;

        h2 {
            font-size: 1.5em;
        }

        h3 {
            font-size: 1.25em;
        }
    }

    .chart-notes {
    }
}

.dashboard-spinner img {
    display: block;
    margin: auto;
}
